@media screen and (max-width:650px) {
    * {
        transition: 400ms;
    }
    body{
        background-color: rgb(0, 0, 0);
    }
    .middle-container h1{
        font-size: 30px;
    }
    #imageone {
        width: 300px;
        margin-top: -350px;
        margin-left: 5%;
    }
    #imagesecond{
        position: relative;
        margin-top: 50px;
        width: 300px;
        margin-left: 5%;
    }
}