* {
    padding: 0;
    margin: 0;
    transition: 400ms;
}
body {
    background-color: #000;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: #3498db22;
}